.picture-chip {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: auto;
    display: inline-block;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
